<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:fragment="headFragment">
		<script th:src="@{/webjars/jquery/3.4.1/jquery.slim.min.js}"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
		
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />
		
		<meta charset="UTF-8"/>
		<title>Selenium Demo</title>
	</th:block>
</head>
</html>