<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default">

<th:block layout:fragment="content">
<script>
$(function(){
	// 회원 가입 처리
	$('#join-submit').click(function(e){
		doSignUp(e);
	});

});

function doSignUp(e) {
	e.preventDefault();
	if($("#inputName").val() ==''){
		alert('이름을 입력하세요');
		$("#inputName").focus();
		return false;
	}
	
	var email = $('#inputEmail').val();
	if(email == ''){
		alert('이메일을 입력하세요');
		$("#inputEmail").focus();
		return false;
	} else {
		var emailRegex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		if (!emailRegex.test(email)) {
			alert('이메일 주소가 유효하지 않습니다. ex)abc@gmail.com');
			$("#inputEmail").focus();
			return false;
		}
	}
	
	if($("#inputPassword").val() ==''){
		alert('비밀번호를 입력하세요');
		$("#inputPassword").focus();
		return false;
	}
	
	if($("#inputPasswordCheck").val() ==''){
		alert('비밀번호를 다시 한번 더 입력하세요');
		$("#inputPasswordCheck").focus();
		return false;
	}
	
	if($("#inputPassword").val()!== $("#inputPasswordCheck").val()){
		alert('비밀번호를 둘다 동일하게 입력하세요');
		return false;
	}
	
	if($("#agree").is(":checked") == false){
		alert('약관에 동의하셔야 합니다');
		return false;
	}
	
	var member = {
			name     : $("#inputName").val(),
			email    : $('#InputEmail').val(),
			password : $('#inputPassword').val(),
		};
	
	$.ajax({
		url: '/doSignUp',
		type: 'POST',
		dataType: "json",
		data: JSON.springify(member),
		success: function (response) {
			if(response.result == 1){
				alert('가입 완료');
				location.replace('./main.html'); // 화면 갱신
			} else if(response.result == 0){
				alert('이미 가입된 아이디입니다');
			} else if(response.result == -2){
				alert('입력된 값이 없습니다');
			} else {
				alert('등록중에 에러가 발생했습니다');
			}
		},
		error: function(jqXHR, textStatus, errorThrown){
			alert("arjax error : " + textStatus + "\n" + errorThrown);
		}
	});
}

</script>

<div class="container-fluid">
	<div class="page-header">
		<div class="col-md-6 col-md-offset-3">
			<h3>회원가입</h3>
		</div>
	</div>
	<div class="col-sm-6 col-md-offset-3">
		<form role="form">
			<div class="form-group">
				<label for="inputName">성명</label>
				<input type="text" class="form-control" id="inputName" placeholder="이름을 입력해 주세요">
			</div>
			<div class="form-group">
				<label for="InputEmail">이메일 주소</label>
				<input type="email" class="form-control" id="inputEmail" placeholder="이메일 주소를 입력해주세요">
			</div>
			<div class="form-group">
				<label for="inputPassword">비밀번호</label>
				<input type="password" class="form-control" id="inputPassword" placeholder="비밀번호를 입력해주세요">
			</div>
			<div class="form-group">
				<label for="inputPasswordCheck">비밀번호 확인</label>
				<input type="password" class="form-control" id="inputPasswordCheck" placeholder="비밀번호 확인을 위해 다시한번 입력 해 주세요">
			</div>
			<div class="form-group">
				<label>약관 동의</label>
				<div data-toggle="buttons">
					<label class="btn btn-primary active">
						<span class="fa fa-check"></span>
						<input id="agree" type="checkbox" autocomplete="off" checked>
					</label>
					<a href="#">이용약관</a>에 동의합니다.
				</div>
			</div>
			<div class="form-group text-center">
				<button id="join-submit" class="btn btn-primary">회원가입<i class="fa fa-check spaceLeft"></i></button>
				<button class="btn btn-warning">가입취소<i class="fa fa-times spaceLeft"></i></button>
			</div>
		</form>
	</div>
</div>

</th:block>
</html>